<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Menu Principal</title>
</head>

<body>
    <div class="container">
        <h1>Menu Principal</h1>
        <div class="button-container">
            <a href="{{ url_for('adicionar_autor') }}"><button>Adicionar Autor</button></a>
            <a href="{{ url_for('adicionar_livro') }}"><button>Adicionar Livro</button></a>
            <a href="{{ url_for('mostrar_livros') }}"><button>Mostrar Livros</button></a>
            <a href="{{ url_for('registrar_emprestimo') }}"><button>Registrar Empréstimo</button></a>
            <a href="{{ url_for('registrar_devolucao') }}"><button>Registrar Devolução</button></a>
        </div>
    </div>
</body>

</html>